/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-card-header-text {
    margin: 0 !important;
}

.mat-button-wrapper .mat-icon.material-icons {
    font-size: 16px;
    height: 18px;
    width: 18px;
}

pagination-controls .ngx-pagination {
    padding-left: 20px;
    margin-top: 15px;
}