.mat-card {
    width: 215px;
}

.mat-card .mat-card-content .mat-icon {
    width: 50px;
    height: 50px;
}

.mat-card .mat-card-content .material-icons {
    font-size: 50px;
}

.mat-card-header {
    background-color: #3578e3;
    color: #fff;
}

a {
    cursor: pointer;
}

.mat-card-header .mat-card-header-text {
    margin: 0;
}

._main-header .mat-icon {
    height: 30px;
    width: 30px;
}

._main-header .mat-icon.material-icons {
    font-size: 30px;
}