<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let customer of customers;">
        <mat-card class="p-0">
            <mat-card-header color="primary" class="d-flex justify-content-between">
                <mat-card-title class="mb-0">{{ customer.name }}</mat-card-title>
                <mat-icon class="justify-content-end">edit</mat-icon>
            </mat-card-header>
            <mat-card-content class="mb-4">
                <div class="d-flex flex-start">
                    <div class="mr-3">
                        <img mat-card-avatar src="https://image.flaticon.com/icons/svg/27/27304.svg">
                    </div>
                    <div>
                        <p class="mb-0">{{ customer.address }}</p>
                        <a>View Orders</a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>